# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env
*.egg-info/
dist/
build/

# Node
node_modules/
frontend/dist/
.DS_Store

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# AWS
.aws-sam/
lambda-package.zip
package/

# Logs
*.log

# OS
Thumbs.db
.DS_Store
